In [1]:
import pandas as pd
import numpy as np

In [135]:
df = pd.read_excel('../data/raw/foreign/f_2018_1-3.xls', sheet_name=23)

In [136]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [137]:
# df.head(50)

In [138]:
# list_countries = []

# for i in range(6, 48, 2):
#     print(df.iloc[3,i])
#     list_countries.append(df.iloc[3,i])

In [139]:
list_countries = ["South Korea", "Taiwan", "Hong Kong", "China", "Thailand", "Singapore", "Malaysia", "Indonesia", "Phillipines", "Vietnam",
                 "India", "UK", "Germany", "France", "Italy", "Spain", "Russia", "USA", "Canada", "Australia", "Other"]

In [5]:
list_columns1 = ["within_3days", "4to6days", "7to13days", "14to20days", "21to27days", "28to90days", "91days_to_1year",
                "male_all", "male10s", "male20s", "male30s", "male40s", "male50s", "male60s", "male_over70",
                "female_all", "female10s", "female20s", "female30s", "female40s", "female50s", "female60s", "female_over70",
                "japan_first", "japan_second", "japan_third", "japan_fourth", "japan_fifth", "japan_sixth_to_ninth", "japan_10_to_19", "japan_over20",
                "japan_zenkai_hajimete", "japan_zenkai_ari", "japan_zenkai_1year", "japan_zenkai_3year", "japan_zenkai_5year", "japan_zenkai_10year",
                "japan_zenkai_over10year",
                "japan_pastyear_0", "japan_pastyear_1", "japan_pastyear_2", "japan_pastyear_3to5", "japan_pastyear_6to9", "japan_pastyear_over10",
                "single", "partner", "family", "colleague", "friend", "doukou_other"]

In [6]:
list_column2 = ["hotel", "ryokan", "condo", "ryo", "friend_house", "hostel", "capsule", "yuryo", "stay_other", "no_stay",
               "tour", "package", "own",
               "store", "web", "phone",
               "income_500", "income_1000", "income_2000", "income_3000", "income_over3000", "income_unknown",
               "fsa", "lcc", "ship"]

In [142]:
dict_all = []

In [143]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2018, "term": 1, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [144]:
df = pd.read_excel('../data/raw/foreign/f_2018_4-6.xls', sheet_name=23)

In [145]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2018, "term": 2, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [146]:
df = pd.read_excel('../data/raw/foreign/f_2018_7-9.xls', sheet_name=23)

In [147]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2018, "term": 3, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [148]:
df = pd.read_excel('../data/raw/foreign/f_2018_10-12.xls', sheet_name=23)

In [149]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2018, "term": 4, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [150]:
df = pd.read_excel('../data/raw/foreign/f_2019_1-3.xls', sheet_name=23)

In [151]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2019, "term": 1, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [152]:
df = pd.read_excel('../data/raw/foreign/f_2019_4-6.xls', sheet_name=23)

In [153]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2019, "term": 2, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [154]:
df = pd.read_excel('../data/raw/foreign/f_2019_7-9.xls', sheet_name=23)

In [155]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2019, "term": 3, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [156]:
df = pd.read_excel('../data/raw/foreign/f_2019_10-12.xls', sheet_name=23)

In [157]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2019, "term": 4, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [158]:
df = pd.read_excel('../data/raw/foreign/f_2020_1-3.xls', sheet_name=23)

In [159]:
# loop for country
counter = 0
for i in range(7, 49, 2):
    country = list_countries[counter]
    dict_row = {"year": 2020, "term": 1, "country": country}
    
    consumption = df.iloc[5, i]
    dict_tmp = {"c_all":consumption}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, i]
        dict_tmp = {"c_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    id_column = i - 1
    answer = df.iloc[5, id_column]
    dict_tmp = {"a_all":answer}
    dict_row.update(dict_tmp)
    
    # loop for type of consunption
    for j in range(len(list_columns1)):
        type_consumption = list_columns1[j]
        consumption = df.iloc[41+j, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
        
    for k in range(len(list_column2)):
        type_consumption = list_column2[k]
        consumption = df.iloc[107+k, id_column]
        dict_tmp = {"a_" + type_consumption : consumption}
        dict_row.update(dict_tmp)
    
    counter = counter + 1
    dict_all.append(dict_row)

In [160]:
len(dict_all)

189

In [161]:
df_all = pd.DataFrame(dict_all)

In [162]:
df_all

,year,term,country,c_all,c_within_3days,c_4to6days,c_7to13days,c_14to20days,c_21to27days,c_28to90days,c_91days_to_1year,c_male_all,c_male10s,c_male20s,c_male30s,c_male40s,c_male50s,c_male60s,c_male_over70,c_female_all,c_female10s,c_female20s,c_female30s,c_female40s,c_female50s,c_female60s,c_female_over70,c_japan_first,c_japan_second,c_japan_third,c_japan_fourth,c_japan_fifth,c_japan_sixth_to_ninth,c_japan_10_to_19,c_japan_over20,c_japan_zenkai_hajimete,c_japan_zenkai_ari,c_japan_zenkai_1year,c_japan_zenkai_3year,c_japan_zenkai_5year,c_japan_zenkai_10year,c_japan_zenkai_over10year,c_japan_pastyear_0,c_japan_pastyear_1,c_japan_pastyear_2,c_japan_pastyear_3to5,c_japan_pastyear_6to9,c_japan_pastyear_over10,c_single,c_partner,c_family,c_colleague,c_friend,c_doukou_other,c_hotel,c_ryokan,c_condo,c_ryo,c_friend_house,c_hostel,c_capsule,c_yuryo,c_stay_other,c_no_stay,c_tour,c_package,c_own,c_store,c_web,c_phone,c_income_500,c_income_1000,c_income_2000,c_income_3000,c_income_over3000,c_income_unknown,c_fsa,c_lcc,c_ship,a_all,a_within_3days,a_4to6days,a_7to13days,a_14to20days,a_21to27days,a_28to90days,a_91days_to_1year,a_male_all,a_male10s,a_male20s,a_male30s,a_male40s,a_male50s,a_male60s,a_male_over70,a_female_all,a_female10s,a_female20s,a_female30s,a_female40s,a_female50s,a_female60s,a_female_over70,a_japan_first,a_japan_second,a_japan_third,a_japan_fourth,a_japan_fifth,a_japan_sixth_to_ninth,a_japan_10_to_19,a_japan_over20,a_japan_zenkai_hajimete,a_japan_zenkai_ari,a_japan_zenkai_1year,a_japan_zenkai_3year,a_japan_zenkai_5year,a_japan_zenkai_10year,a_japan_zenkai_over10year,a_japan_pastyear_0,a_japan_pastyear_1,a_japan_pastyear_2,a_japan_pastyear_3to5,a_japan_pastyear_6to9,a_japan_pastyear_over10,a_single,a_partner,a_family,a_colleague,a_friend,a_doukou_other,a_hotel,a_ryokan,a_condo,a_ryo,a_friend_house,a_hostel,a_capsule,a_yuryo,a_stay_other,a_no_stay,a_tour,a_package,a_own,a_store,a_web,a_phone,a_income_500,a_income_1000,a_income_2000,a_income_3000,a_income_over3000,a_income_unknown,a_fsa,a_lcc,a_ship
0,2018,1,South Korea,65743.1824,43810.0446,67354.6722,138675.0919,125029.7284,NaN,48875.0000,NaN,66923.6275,46798.3857,69678.2994,82623.8613,59129.5756,48788.6406,61994.3965,44980.2895,64562.1042,53626.8936,63569.5358,79610.2896,64128.2297,58842.7627,56585.6518,10839.9718,59832.1304,63142.9799,65229.4002,81336.6653,60517.3805,82498.7478,88781.3670,69209.7431,59832.1304,69813.3506,72173.4845,69299.5321,69890.0823,50481.6285,62170.0069,62512.1408,67513.3856,74381.5836,81215.4593,61515.5986,119558.6358,93127.3166,66306.1504,54305.4049,61214.0710,69628.9209,64055.5416,65980.9376,61294.6679,NaN,27822.4345,56353.5939,63757.1892,51219.2741,76653.8604,60097.9978,11786.2787,27609.3931,40335.9669,72067.6954,57076.8428,67435.0181,27595.2693,103354.4707,64399.8602,55221.2428,46660.9661,63022.8160,63239.8003,69052.9413,66863.3877,31163.0632,733,210,480,40,2,0,1,0,362,33,173,64,49,30,9,4,371,22,191,66,44,32,11,5,282,142,107,59,41,45,37,20,282,451,266,123,26,24,12,467,132,79,43,8,4,73,71,268,16,302,3,519,120,0,2,15,95,4,97,8,13,98,46,589,100,620,13,54,43,19,5,2,610,206,432,95
1,2018,1,Taiwan,104709.0598,66532.1119,82035.3913,152686.3790,477710.7393,250000.0000,311753.7120,NaN,115652.9068,104706.7893,99502.7998,133361.8616,118097.5766,100059.6545,89756.5784,54280.0374,96155.0840,187451.8073,85467.4352,99105.6279,81277.8477,99521.8313,139961.4457,NaN,87379.4369,92642.9291,102418.8006,112089.9307,99350.5722,102469.9881,112695.6373,156565.0696,87379.4369,108086.7068,119154.2472,86219.0502,96409.2545,99760.4886,101562.2309,89095.0780,111012.5513,122890.0262,124701.3352,153293.8128,171500.0000,187501.0816,114401.5926,79998.4578,70906.5533,126382.1104,128276.1421,102860.5291,96671.8415,189745.6667,NaN,166033.4507,96479.3017,82200.0000,158669.0960,168750.5774,NaN,63477.6942,85873.4285,133996.1198,71349.3627,119984.0969,100038.3626,123761.0156,126638.0617,216969.8170,165187.8640,144088.1734,96551.5872,104933.2478,104237.4289,NaN,580,13,430,123,7,1,6,0,252,10,61,89,49,28,12,3,328,12,81,113,72,35,15,0,92,84,71,65,52,92,83,41,92,488,302,134,26,12,14,278,136,94,61,10,1,51,76,298,29,122,4,478,171,2,0,23,15,1,64,2,0,221,61,298,173,374,33,94,31,6,2,5,442,406,174,0
2,2018,1,Hong Kong,138779.2912,71607.2656,122106.3929,160324.3531,323651.2870,NaN,NaN,NaN,138624.0494,129890.2235,121033.4824,152178.1985,144786.9764,135521.1963,120524.1254,152181.7738,138909.9569,100682.5046,140086.3293,156364.9062,129844.3945,132667.9487,84962.1484,NaN,117306.8518,129349.8140,130184.5220,139110.8270,132819.6411,134491.1523,151043.2023,183826.8584,117306.8518,142946.6779,148122.5132,129633.1950,140208.8716,65952.5830,144807.9025,123503.6924,129688.9998,145229.1312,163030.8649,333681.1511,196948.6237,149686.0862,153782.1475,129670.5283,72791.2304,144361.8717,114918.9602,142680.0915,156340.9648,95984.7724,31866.6667,85239.4001,167257.5914,NaN,130340.7859,124070.3748,NaN,57355.9675,123263.6606,150053.0987,124303.6855,143079.4959,116318.5974,132315.5634,150308.2401,200546.6685,378288.7613,102653.8635,133499.4161,133960.8276,147887.4098,NaN,630,16,333,278,3,0,0,0,291,14,68,73,81,39,10,6,339,7,84,98,81,61,8,0,98,73,65,69,65,88,107,65,98,532,399,99,13,8,13,231,152,138,97,8,4,42,147,325,3,110,3,542,198,7,1,6,11,0,60,4,0,49,89,492,127,493,10,56,37,24,5,3,505,401,229,0
3,2018,1,China,196459.3982,171289.9949,168196.9385,226870.7843,257188.3528,309596.5915,339568.6360,NaN,197222.9919,163326.7375,184362.5150,232285.1753,152614.8797,209264.1539,103204.9331,134733.3333,195998.8707,160065.0979,194350.3598,210688.8195,181337.3680,206520.3430,106910.4354,289684.4200,187026.3302,201793.5170,218393.3003,197036.6452,161154.5013,249073.6307,239389.9744,208078.9048,187026.3302,210068.3790,205062.4280,223397.8088,276463.5198,155759.6933,71301.0138,193730.2682,174377.3157,188251.8781,314204.0706,269829.6921,199936.7647,184990.0281,214564.3651,178771.1623,190861.6897,224301.3282,185168.2911,196410.0646,192640.6996,125114.5179,105764.1199,167338.7894,232420.3737,NaN,236429.9710,291500.0000,NaN,132253.0008,194639.9462,238369.0870,159109.4816,214287.1045,215484.7258,172996.2141,231358.6987,417731.7282,245654.9145,554654.3461,183809.3124,194810.2358,218494.8334,NaN,851,10,454,368,11,4,4,0,332,14,109,123,58,24,3,1,519,25,208,164,95,23,3,1,483,135,84,38,28,39,27,17,483,368,217,115,16,14,6,634,108,63,39,4,3,72,130,401,42,191,15,723,250,4,15,22,11,0,104,1,0,299,81,471,275,553,23,121,71,29,1,8,621,777,74,0
4,2018,1,Thailand,104238.5215,71252.3027,72189.0510,144763.2021,319057.7390,100370.9267,49374.7200,28000.000,113756.4137,10750.0000,86631.2923,101158.0552,191691.2487,88334.2526,496904.3200,13496.7625,99272.4244,50301.7254,86518.2643,117223.6876,83159.1481,76522.5254,176646.6492,NaN,84661.4038,104186.3035,102448.3323,87086.7900,87123.7073,178244.6640,168975.8088,91807.9514,84661.4038,118056.3684,125870.3820,108266.2953,90342.2505,30337.6813,15086.7200,89818.2742,116518.3354,146659.7200,128423.4167,104058.0850,142309.9919,137443.9666,135252.3742,76039.1813,136581.4763,116926.6441,67647.2228,95133.2897,125896.9851,356646.6128,NaN,171229.4700,146577.1499,79963.2513,167788.1157,121478.6950,NaN,46327.2579,97017.2128,147914.7684,90131.0720,112637.0091,112359.5535,95797.0299,94036.5026,185323.6126,138449.1329,54881.2285,107192.3948,125663.4985,77070.2357,NaN,270,3,171,84,9,1,1,1,94,2,30,36,14,9,2,1,176,2,59,70,29,13,3,0,106,44,32,19,18,27,15,9,106,164,113,42,6,2,1,157,66,29,13,3,2,19,33,108,19,82,9,227,50,5,0,6,20,2,19,1,0,101,27,142,99,162,9,81,11,5,2,3,168,155,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,2020,1,Russia,167968.0433,74461.3592,115213.7315,167911.4381,256589.7791,371092.8813,280525.7000,320500.000,143475.3743,26596.6667,196607.0172,115196.8294,135704.7132,138668.1962,225606.3103,NaN,192608.9996,200691.0819,248905.7042,115192.0379,199517.2298,135847.4107,NaN,39207.5300,162878.8201,169205.4182,216124.3666,97155.5989,NaN,152714.3027,108684.8616,259514.2551,162878.8201,171086.5599,173269.1449,181970.7129,196215.3593,91600.0000,NaN,164375.7432,182195.3758,92856.1984,243770.9986,NaN,NaN,206069.7531,168635.1043,154859.1858,146000.0000,145206.9002,100395.2820,166616.2979,234691.2919,224711.7550,NaN,199706.3261,213151.7067,75235.7100,182560.9709,75000.0000,NaN,NaN,239748.8455,166462.2604,250509.0643,158613.3498,77565.8163,201758.2277,129233.2667,NaN,NaN,258750.0000,158685.9097,170721.3294,63652.8570,NaN,77,12,16,36,6,3,3,1,38,1,9,13,10,4,1,0,39,2,16,9,8,3,0,1,28,15,7,4,0,11,5,7,28,49,34,7,5,3,0,43,19,7,8,0,0,16,30,17,1,10,3,60,7,1,0,5,7,2,6,1,0,0,2,75,11,62,4,13,2,0,0,1,61,75,2,0
185,2020,1,USA,178031.7922,38997.0000,93301.8471,185406.9405,273544.7490,296397.4964,383713.3329,NaN,187560.2823,156394.8385,188977.9833,206181.1459,198561.0946,153829.1875,145356.4201,45171.1919,161292.7935,172849.8771,156515.4283,178438.5347,184813.8205,163805.7666,146344.1841,72662.7533,184684.5564,193471.3473,140583.1712,126685.7617,112147.3316,170494.6065,135914.6994,165380.8917,184684.5564,167132.8508,154536.0306,184758.2824,170515.2196,121477.7562,187325.4788,182819.3196,162546.9395,113599.2314,217878.1235,131201.7197,31323.2021,174278.4834,163605.4516,170018.7144,174544.1050,207068.9487,158115.8000,184116.1186,230176.7234,175003.0201,38065.0000,174812.7688,196795.9062,184907.1407,199981.5331,167052.2924,10243.1954,55028.2597,81206.2147,190448.9425,151561.9464,182999.0166,185288.9317,153354.9960,186145.0319,189410.3717,246094.9502,199451.3721,174933.6925,182590.2543,112326.2783,NaN,681,44,146,345,118,18,10,0,434,6,166,144,46,37,29,6,247,7,93,57,29,27,21,13,415,132,37,33,11,23,23,7,415,266,119,94,25,12,16,562,95,17,3,2,2,202,189,112,5,161,12,509,102,3,1,43,62,19,142,18,3,38,33,610,108,550,23,18,35,38,18,9,563,630,51,0
186,2020,1,Canada,183536.6256,34454.5551,73580.9144,201604.6790,238144.9063,258138.1431,381120.6308,NaN,181381.4768,191492.7590,164324.1955,204679.7546,181720.9452,193456.8683,157471.1866,118014.7082,188698.4858,192534.3081,144180.3832,255180.2088,117980.2936,321204.2903,115396.6543,56283.6020,161907.0564,204757.2437,207583.0914,120142.5154,194939.5678,266762.1188,198829.6044,307215.7502,161907.0564,214393.3087,218364.4044,209430.1606,238770.7962,188595.3047,216085.5586,176372.7302,203289.0240,219643.2172,341208.7919,NaN,148963.6800,213566.7286,161063.8107,130402.2204,NaN,207176.9317,NaN,194231.1092,223557.7837,NaN,NaN,122130.1730,189903.4770,219121.0063,195743.3858,217455.5671,5125.0000,64518.2177,145649.0149,187646.7118,193664.1487,182976.5109,36945.9000,155258.9297,174826.5733,293847.2574,68836.0600,368475.3800,181365.3263,189922.3708,67064.9632,NaN,165,13,32,66,44,5,5,0,116,2,36,33,22,15,5,3,49,2,18,14,5,5,4,1,96,28,12,5,4,7,6,7,96,69,31,21,6,7,4,134,22,4,4,0,1,51,59,22,0,33,0,118,25,0,0,5,24,10,27,8,2,4,7,154,26,138,1,11,7,5,1,1,140,154,11,0
187,2020,1,Australia,223983.2376,43356.8405,77116.9374,159632.8555,260466.3466,349711.7631,363499.9903,618000.000,231825.5569,256583.5226,255981.8363,216487.4707,161219.9915,213365.5035,367031.2195,172420.2139,210983.0464,151698.9262,236204.8072,198730.8452,204161.3288,117683.2389,272578.0126,NaN,227364.7089,193794.8566,244156.2067,202626.9638,257298.3870,223080.4708,234716.7747,360866.1414,227364.7089,220152.0748,222427.5740,219005.9410,229447.3224,218066.9373,191657.4351,224305.6725,228994.0240,203581.0122,83191.7545,NaN,NaN,250884.7765,200151.5019,184428.4866,NaN,248564.8601,413356.8229,227453.8187,249339.8492,129145.7224,NaN,147056.1702,264827.6524,214468.9469,277981.0757,209290.9450,5166.6667,76601.5366,120227.4573,237450.5056,214909.4337,231588.6775,122094.0892,288263.3991,264470.8548,237462.0658,417004.9342,152748.5250,211317.7803,225497.6609,198938.6520,NaN,261,3,12,109,97,28,11,1,162,10,69,37,17,22,4,3,99,6,49,16,15,8,5,0,142,42,29,17,13,14,2,2,142,119,45,46,11,11,6,216,38,6,1,0,0,48,80,60,0,65,8,210,60,5,0,9,56,8,52,16,1,5,26,230,87,168,6,10,22,17,3,1,208,247,14,0
188,2020,1,Other,183511.7802,29395.7503,55254.6214,142408.7350,249861.7194,364417.7805,454467.8064,509604.879,193693.7478,290557.1616,186790.3028,200991.6351,254013.7672,127109.1937,149297.1220,NaN,164542.4277,55798.6776,181065.3595,122841.2798,105996.2504,341025.2326,405642.0106,NaN,183327.4469,172606.8087,199206.7082,170350.8889,183514.6101,125073.9763,265448.4663,168000.0000,183327.4469,184045.2221,192799.6087,205091.8454,78328.2944,49666.6667,225602.3773,182348.1746,177766.1608,335178.5325,121362.4764,NaN,NaN,225162.9540,149207.4753,140004.2814,NaN,215501.6190,103414.9406,183154.4638,159589.0419,NaN,NaN,202001.0794,243580.7472,141098.2429,243695.8901,261186.5624,NaN,43609.1585,76014.3975,191726.6544,198608.0030,180826.7611,157615.4984,137711.5217,241614.1281,256733.0692,138719.1850,NaN,182624.7359,187896.9198,104479.2238,NaN,187,9,17,97,41,16,6,1,124,5,54,34,12,14,5,0,63,5,32,11,10,3,2,0,139,20,9,5,6,3,4,1,139,48,19,21,5,1,2,168,14,3,2,0,0,53,41,43,0,47,3,145,19,0,0,15,25,12,23,5,0,7,6,174,35,148,4,12,4,6,1,0,164,177,10,0

In [163]:
df_all.to_csv("data_new/foreign.csv")

In [164]:
df_all.to_stata("data_new/foreign.dta")

In [2]:
df = pd.read_csv("data_new/foreign.csv")

In [3]:
df

,Unnamed: 0,year,term,country,c_all,c_within_3days,c_4to6days,c_7to13days,c_14to20days,c_21to27days,...,a_phone,a_income_500,a_income_1000,a_income_2000,a_income_3000,a_income_over3000,a_income_unknown,a_fsa,a_lcc,a_ship
0,0,2018,1,South Korea,65743.1824,43810.0446,67354.6722,138675.0919,125029.7284,NaN,...,13,54,43,19,5,2,610,206,432,95
1,1,2018,1,Taiwan,104709.0598,66532.1119,82035.3913,152686.3790,477710.7393,250000.0000,...,33,94,31,6,2,5,442,406,174,0
2,2,2018,1,Hong Kong,138779.2912,71607.2656,122106.3929,160324.3531,323651.2870,NaN,...,10,56,37,24,5,3,505,401,229,0
3,3,2018,1,China,196459.3982,171289.9949,168196.9385,226870.7843,257188.3528,309596.5915,...,23,121,71,29,1,8,621,777,74,0
4,4,2018,1,Thailand,104238.5215,71252.3027,72189.0510,144763.2021,319057.7390,100370.9267,...,9,81,11,5,2,3,168,155,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,184,2020,1,Russia,167968.0433,74461.3592,115213.7315,167911.4381,256589.7791,371092.8813,...,4,13,2,0,0,1,61,75,2,0
185,185,2020,1,USA,178031.7922,38997.0000,93301.8471,185406.9405,273544.7490,296397.4964,...,23,18,35,38,18,9,563,630,51,0
186,186,2020,1,Canada,183536.6256,34454.5551,73580.9144,201604.6790,238144.9063,258138.1431,...,1,11,7,5,1,1,140,154,11,0
187,187,2020,1,Australia,223983.2376,43356.8405,77116.9374,159632.8555,260466.3466,349711.7631,...,6,10,22,17,3,1,208,247,14,0
188,188,2020,1,Other,183511.7802,29395.7503,55254.6214,142408.7350,249861.7194,364417.7805,...,4,12,4,6,1,0,164,177,10,0

In [4]:
df.shape

(189, 156)

In [9]:
list_columns = ["all"] + list_columns1 + list_column2

In [11]:
len(list_columns)

76

In [14]:
df.iloc[:,80]

0      733
1      580
2      630
3      851
4      270
      ...
184     77
185    681
186    165
187    261
188    187
Name: a_all, Length: 189, dtype: int64

In [25]:
tmp_list = list(np.zeros(76, dtype="int8"))

In [26]:
test_keys = list_columns
test_values = tmp_list

In [27]:
res = {} 
for key in test_keys: 
    for value in test_values: 
        res[key] = value 
        test_values.remove(value) 
        break

In [28]:
res

{'all': 0,
 'within_3days': 0,
 '4to6days': 0,
 '7to13days': 0,
 '14to20days': 0,
 '21to27days': 0,
 '28to90days': 0,
 '91days_to_1year': 0,
 'male_all': 0,
 'male10s': 0,
 'male20s': 0,
 'male30s': 0,
 'male40s': 0,
 'male50s': 0,
 'male60s': 0,
 'male_over70': 0,
 'female_all': 0,
 'female10s': 0,
 'female20s': 0,
 'female30s': 0,
 'female40s': 0,
 'female50s': 0,
 'female60s': 0,
 'female_over70': 0,
 'japan_first': 0,
 'japan_second': 0,
 'japan_third': 0,
 'japan_fourth': 0,
 'japan_fifth': 0,
 'japan_sixth_to_ninth': 0,
 'japan_10_to_19': 0,
 'japan_over20': 0,
 'japan_zenkai_hajimete': 0,
 'japan_zenkai_ari': 0,
 'japan_zenkai_1year': 0,
 'japan_zenkai_3year': 0,
 'japan_zenkai_5year': 0,
 'japan_zenkai_10year': 0,
 'japan_zenkai_over10year': 0,
 'japan_pastyear_0': 0,
 'japan_pastyear_1': 0,
 'japan_pastyear_2': 0,
 'japan_pastyear_3to5': 0,
 'japan_pastyear_6to9': 0,
 'japan_pastyear_over10': 0,
 'single': 0,
 'partner': 0,
 'family': 0,
 'colleague': 0,
 'friend': 0,
 'doukou_other': 0,
 'hotel': 0,
 'ryokan': 0,
 'condo': 0,
 'ryo': 0,
 'friend_house': 0,
 'hostel': 0,
 'capsule': 0,
 'yuryo': 0,
 'stay_other': 0,
 'no_stay': 0,
 'tour': 0,
 'package': 0,
 'own': 0,
 'store': 0,
 'web': 0,
 'phone': 0,
 'income_500': 0,
 'income_1000': 0,
 'income_2000': 0,
 'income_3000': 0,
 'income_over3000': 0,
 'income_unknown': 0,
 'fsa': 0,
 'lcc': 0,
 'ship': 0}

In [43]:
dict_all = []

for i in range(df.shape[0]):
    
    for j in range(4, 80):
        dict_tmp = {
            "year" : df.iloc[i,1],
            "term" : df.iloc[i,2],
            "country" : df.iloc[i, 3],
        }
        
        consumption = df.iloc[i, j]
        answer = df.iloc[i, j + 76]
        
        dict2 = {
            "consumption" : consumption,
            "answer" : answer
        }
        
        type_element = list_columns[j - 4]
        
        dict_tmp.update(dict2)
        dict_tmp.update(res)
        dict_tmp[type_element] = 1
        
        dict_all.append(dict_tmp)

In [44]:
df_all = pd.DataFrame(dict_all)

In [45]:
df_all

,year,term,country,consumption,answer,all,within_3days,4to6days,7to13days,14to20days,...,phone,income_500,income_1000,income_2000,income_3000,income_over3000,income_unknown,fsa,lcc,ship
0,2018,1,South Korea,65743.1824,733,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018,1,South Korea,43810.0446,210,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018,1,South Korea,67354.6722,480,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018,1,South Korea,138675.0919,40,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2018,1,South Korea,125029.7284,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14359,2020,1,Other,NaN,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14360,2020,1,Other,182624.7359,164,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14361,2020,1,Other,187896.9198,177,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14362,2020,1,Other,104479.2238,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14363,2020,1,Other,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
df_all.to_stata("data_new/foreign_wide.dta")