In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('../csv/kethugou_insemi.xlsx')

In [7]:
df

,pref,year,quarter,consumption_stay_tourism,foreign,female_rate,total_stay
0,Hokkaido,2018,1,112159.151406,1,49.660600,5.411570
1,Aomori,2018,1,37531.006273,1,49.660600,6.994401
2,Iwate,2018,1,54473.543634,1,49.660600,4.564524
3,Miyagi,2018,1,28280.388663,1,49.660600,5.101831
4,Akita,2018,1,36234.849111,1,49.660600,8.413553
...,...,...,...,...,...,...,...
841,Kumamoto,2020,1,22416.758000,0,52.371101,1.620000
842,Oita,2020,1,42027.382000,0,52.371101,1.620000
843,Miyazaki,2020,1,13749.582000,0,52.371101,1.620000
844,Kagoshima,2020,1,34533.517000,0,52.371101,1.620000
845,Okinawa,2020,1,120391.495000,0,52.371101,2.580000

In [8]:
df.to_stata('../csv/for_analysis/ketsugou_insemi.dta')